*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#d7d7d7;
}

.display-page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  padding:20px 0;
}

.display-frame{
  width:720px;
  min-height:1500px;
  background:#edf7fb;
}
