*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#d7d7d7;
}

.display-page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  padding:20px 0;
}

.display-frame{
  width:720px;
  min-height:1500px;
  background:#edf7fb;
}
.top-section{
  height:320px;
  display:flex;
  justify-content:center;
  align-items:flex-start;
}

.arch-section{
  width:420px;
  height:260px;
  background:#ffffff;
  border-radius:220px 220px 0 0;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}

.takbeer{
  margin-bottom:40px;
  font-size:42px;
}
